In [1]:
import pandas as pd
import sys
sys.path.append('../')

In [2]:
!pwd

/Users/danielaarias/Ironhack/Semana_06/API_Flask/Notebooks

In [3]:
df = pd.read_csv('../Data/tbb.csv')

In [4]:
df.head()

,episode_name,dialogue,person_scene
0,Series 01 Episode 01 – Pilot Episode,A corridor at a sperm bank.,Scene
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard

## Voy a quedarme con los personajes principales de la serie

In [5]:
y = df["person_scene"].value_counts()

In [6]:
for i in y:
    if i > 3000:
        print(i)

11484
9638
7477
5737
4576
3419

In [7]:
y[0:6]

Sheldon    11484
Leonard     9638
Penny       7477
Howard      5737
Raj         4576
Amy         3419
Name: person_scene, dtype: int64

In [8]:
df3 = df[((df.person_scene=="Sheldon")|(df.person_scene=="Leonard")|(df.person_scene=="Penny")|(df.person_scene=="Howard")|(df.person_scene=="Amy"))]

In [9]:
df3.reset_index(drop=True)

,episode_name,dialogue,person_scene
0,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
1,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
2,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
3,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard
4,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard
...,...,...,...
37750,Series 10 Episode 24 – The Long Distance Disso...,"Uh, breakfast yes, lunch no. I did have a cou...",Sheldon
37751,Series 10 Episode 24 – The Long Distance Disso...,How thoughtful. Thank you.,Sheldon
37752,Series 10 Episode 24 – The Long Distance Disso...,"And I with you. Question, are you seeking a r...",Sheldon
37753,Series 10 Episode 24 – The Long Distance Disso...,"Well, that would raise a number of problems. ...",Sheldon
37754,Series 10 Episode 24 – The Long Distance Disso...,"(Knock, knock, knock) Amy. (Knock, knock, kno...",Sheldon

In [ ]:
#df2 = [df2["person_scene"].drop([i], axis=0, inplace=True) if i != ['Sheldon'|'Leonard'|'Penny'|'Howard'|'Amy'] for i in df2["person_scene"]]

In [ ]:
#for i in df2["person_scene"]:
    #if i != ['Sheldon' or 'Leonard' or 'Penny' or 'Howard' or 'Amy']:
        #df2["person_scene"].drop([i], axis=0, inplace=True)

## Columna Episode

In [10]:
df3.head()

,episode_name,dialogue,person_scene
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard

In [11]:
df3[['col1', 'Name_episode']] = df3['episode_name'].str.split(" – ", expand = True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [12]:
df3.head()

,episode_name,dialogue,person_scene,col1,Name_episode
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode

In [13]:
df3[['col3', 'Number_Series', 'col5', 'Number_Episode', 'col7', 'col8']] = df3['col1'].str.split(" ", expand = True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
df3

,episode_name,dialogue,person_scene,col1,Name_episode,col3,Number_Series,col5,Number_Episode,col7,col8
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
...,...,...,...,...,...,...,...,...,...,...,...
54397,Series 10 Episode 24 – The Long Distance Disso...,"Uh, breakfast yes, lunch no. I did have a cou...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54399,Series 10 Episode 24 – The Long Distance Disso...,How thoughtful. Thank you.,Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54401,Series 10 Episode 24 – The Long Distance Disso...,"And I with you. Question, are you seeking a r...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54403,Series 10 Episode 24 – The Long Distance Disso...,"Well, that would raise a number of problems. ...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54405,Series 10 Episode 24 – The Long Distance Disso...,"(Knock, knock, knock) Amy. (Knock, knock, kno...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None

In [16]:
renombrar = {"dialogue": "Dialogue", "person_scene":"Actor","Name_episode": "Name_Episode" }

In [19]:
df3.rename(columns = renombrar, inplace=True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [20]:
df3.head()

,episode_name,Dialogue,Actor,col1,Name_Episode,col3,Number_Series,col5,Number_Episode,col7,col8
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None

## Nos quedamos con las columnas que utilizaremos en nuestra BBDD

In [21]:
df3.drop(["episode_name", "col1", "col3","col5","col7","col8"], axis=1, inplace=True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
df3.head()

,Dialogue,Actor,Name_Episode,Number_Series,Number_Episode
1,So if a photon is directed through a plane wi...,Sheldon,Pilot Episode,01,01
2,"Agreed, what’s your point?",Leonard,Pilot Episode,01,01
3,"There’s no point, I just think it’s a good id...",Sheldon,Pilot Episode,01,01
4,Excuse me?,Leonard,Pilot Episode,01,01
6,"One across is Aegean, eight down is Nabakov, ...",Leonard,Pilot Episode,01,01

In [ ]:
df